html
    head
        title Welcome on my awesome website!
        link(rel="stylesheet", href="/css/styles.css")
    body
        main
            div.flex
                img(src='/images/'+param+'.png')
                img(src='/images/'+iaChoice+'.png')
            div.centered.big Vous avez #{result}